html,
body {
  color: $black--text;

  &.freeze-scrolling {
    overflow: hidden;
  }
}

.app {
  margin-top: $header-height;
  margin-bottom: $footer-height;

  @media only screen and (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 0;
  }
}
