---
---

.page-break { 
	display: block; 
	page-break-before: always; 
}
section.title{
	margin-top:3in;
	text-align:center;
	h1{
		font-size:50px;
	}
	h2{
		font-size:30px;
	}
}
.sidebar {
	display:none;
}

.content {
	margin: 50px;
}