.main {
  padding: $padding * 2;

  a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
      color: darken($link, 10%);
      text-decoration: underline;
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 ($padding * 2);
  }

  @media only screen and (min-width: $desktop) {
    margin-left: $sidebar-width;
  }
}

.page {
  max-width: 750px;
  margin: 0 auto;

  @media only screen and (min-width: $desktop) {
    margin: 0;
  }
}
