.main {
  padding: $padding * 2;

  a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
      color: darken($link, 10%);
      text-decoration: underline;
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;

    @media only screen and (min-width: $desktop - 200px) {
      padding: 0 ($padding * 2);
    }
  }

  blockquote {
    padding: $padding ($padding * 2);
    background-color: $gray--light;
    border-left: 4px solid $gray;
    border-radius: $border-radius;
  }

  code {
    // TODO: Styles here
  }

  hr {
    // TODO: 3.32rem here really corresponds to typography.js rhythm. How to improve?
    margin: 3.32rem 0;
  }

  @media only screen and (min-width: $desktop) {
    margin-left: $sidebar-width;
    padding: ($padding * 2) ($padding * 4);
  }
}

.page {
  max-width: 750px;
  margin: 0 auto;

  @media only screen and (min-width: $desktop) {
    margin: 0;
  }
}
