.sidebar {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  color: $white;
  text-shadow: 0 0 3px transparentize($black, .5);
  background: url('../assets/images/bg-sidebar.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    padding: $padding;
    margin-bottom: 5rem;
  }

  @media only screen and (min-width: 768px) {
    display: block;
  }
}
