.sidebar {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  color: $white;
  text-shadow: 0 0 8px transparentize($black, .5);
  background: url('../assets/images/bg-sidebar.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    padding: ($padding * 2) $padding 0;
    margin-bottom: 5rem;
  }

  &__nav {
    flex: 1;
    overflow: auto;
  }

  @media only screen and (min-width: $desktop) {
    display: flex;
  }
}
