// Colors
$white: #fff;
$black: #000;
$black--text: #2b2b2b;
$gray: #c0c0c0;
$gray--light: #fafafa;
$link: #0047ff;

// General spacing etc.
$padding: 1rem;
$rhythm: 2rem;

// Borders
$border-radius: 4px;

// Header
$header-height: 3rem;

// Sidebar
$sidebar-width: 16rem;

// Footer
$footer-height: 3rem;

// MQs
$desktop: 768px;
